<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load static %}
{% load user_filters %}
  <main role="main" class="container">
    <div class="row">
      <!-- Левый вспомогательный блок -->
      <div class="col-md-3 mb-3 mt-1">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="h3">
                  Об авторе
                </div> 
              </li>
              <li class="list-group-item">
                <div class="h6 text-muted">
                  <a href="mailto:bka@inbox.ru">Напишите мне письмо</a>
                </div>
              </li>
            </ul>                                               
          </div>                    
        </div>                
      </div>
      <!-- Тело страницы -->
      <div class="col-md-9">
        <div class="card-body">                    
          <div class="card-text">
            <p align="justify"> Привет! Меня зовут Ксения Бондарь. Мне 34 года, я живу в Москве. Раньше я работала помощником финансового директора в небольшой корпорации.
              Когда дети <strike>научились самостоятельно есть</strike> подросли, я решила возобновить трудовую деятельность.<br> Разработкой я занялась потому что:
              <ul>
                <li>мне нравятся логические задачи,</li> 
                <li>все еще помню Паскаль с уроков информатики,</li>
                <li>можно будет работать частично удаленно.</li>
              </ul>
              Ну а это мой кот. Говорят, каждый программист должен иметь котика.<br>
              <img class="card-img-bottom" src="{% static 'images/kuzya.jpg' %}" alt="здесь должен был быть котик"/>
            </p>
          </div>          
        </div>                
      </div>            
    </div>        
  </main>
{% endblock %}